<% include partials/header.ejs %>

<div class="ui main text container segment">
    <div class="ui huge header">Mudar foto <%= empresa.nome %></div>
    <form class="ui form" action="/empresas/<%= empresa._id %>" method="POST" enctype="multipart/form-data">
        <div class="custom-file mb-3">
            <input type="file" name="file" id=file class="custom-file-input">
            <label for="file" class="custom-file-label">Choose File</label>
        </div>
        <input class="ui purple basic button" type="submit" value="Mudar Foto">
    </form>
    <form class="ui form" action="/empresas/<%= empresa._id %>?_method=PUT" method="POST">
        <div class="field">
            <label>Nome</label>
            <input type="text" name="empresa[nome]" placeholder="Nome" value="<%= empresa.nome %>">
        </div>
        <div class="field">
            <labe>Descrição</labe>
            <textarea name="empresa[descricao]"><%= empresa.descricao %></textarea>
        </div>
        <div class="field">
            <labe>Objetivo</labe>
            <textarea name="empresa[objetivo]"><%= empresa.objetivo %></textarea>
        </div>
        <div class="field">
            <labe>Projetos em Desenvolvimento</labe>
            <textarea name="empresa[prjDesenvolvimento]"><%= empresa.prjDesenvolvimento %></textarea>
        </div>
        <div class="field">
            <labe>Projetos de Interesse</labe>
            <textarea name="empresa[prjInteresse]"><%= empresa.prjInteresse %></textarea>
        </div>
        <div class="field">
            <labe>Área de Interesse</labe>
            <textarea name="empresa[area]"><%= empresa.area %></textarea>
        </div>
        <div class="field">
            <label>Site</label>
            <input type="text" name="empresa[site]" placeholder="Site" value="<%= empresa.site %>">
        </div>
        <input class="ui purple big basic button" type="submit">
        
    </form>
</div>

<% include partials/footer.ejs %>