<% include partials/header.ejs %>
<div class="ui main text container segment">
    <div class="ui huge header" center><%= universidade.nome %></div>
    <div class="ui top attached">
        <div class="item center">
            <div class="description">
                <image class="image" src="<%= universidade.image %>"></image>
            </div>
            <div class="description">
                <b>Descrição: </b>
                <p><%- universidade.descricao %></p>
            </div>
            <div class="description">
                <b>Objetivo: </b>
                <p><%- universidade.objetivo %></p>
            </div>
            <div class="description">
                <b>Projeto em Desenvolvimento: </b>
                <p><%- universidade.prjDensenvolvimento %></p>
            </div>
            <div class="description">
                <b>Projeto de Interesse: </b>
                <p><%- universidade.prjInteresse %></p>
            </div>
            <div class="description">
                <b>Área de Interesse: </b>
                <p><%- universidade.area %></p>
            </div>
            <div class="description">
                <b>Site: </b>
                <p><%- universidade.site %></p>
            </div>
            <a class="ui green basic button" href="/universidades/<%= universidade._id %>/edit">Edit</a>
            <form id="delete" action="/universidades/<%= universidade._id %>?_method=delete" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>