<% include partials/header.ejs %>
<div class="ui main text container segment">
    <div class="ui huge header center"><%= gestores.nome %></div>
    <div class="ui top attached">
        <div class="item center">
            <div class="description">
                <image class="image" src="<%= gestores.image %>"></image>
            </div>
            <div class="description">
                <p><%- gestores.cargo %></p>
            </div>
            <div class="description">
                <b>E-Mail: </b>
                <p><%- gestores.email %></p>
            </div>
            <div class="description">
                <b>Telefone: </b>
                <p><%- gestores.telefone %></p>
            </div>
            <div class="description">
                <b>Descrição: </b>
                <p><%- gestores.descricao %></p>
            </div>
            <a class="ui green basic button" href="/gestores/<%= gestores._id %>/edit">Edit</a>
            <form id="delete" action="/gestores/<%= gestores._id %>?_method=delete" method="POST">
                <button class="ui red basic button">Delete</button>
            </form>
        </div>
    </div>
</div>
<% include partials/footer.ejs %>